a {
  &:hover {
    text-decoration: none;
  }
}

[data-section=list] {
  .table-view {
    .item-overlay {
      position: relative;
      width: 100%;

      .table-view-cell {
        z-index: 2;
        background-color: white;
      }

      .btn {
        width: 75px;
        height: 100%;
        position: absolute;
        top: 0;
        border-radius: 0;
        z-index: 1;
        font-size: 1.5em;
      }

      .btn.pull-left {
        left: 0;
      }

      .btn.pull-right {
        right: 0;
      }
    }

    .item-quantity {
      color: $grey-secondary;
      margin-left: 5px;
    }

    .completed {
      color: $grey-secondary;
      text-decoration: line-through;
    }
  }
}
