.bar .btn-nav.pull-left {
  margin-left: 0;
}

.bar .btn-nav.pull-right {
  margin-right: 0;
}

.btn-positive {
  background-color: $color-positive;
  border-color: $color-positive;
}

.btn-negative {
  background-color: $color-negative;
  border-color: $color-negative;
}

.btn-neutral {
  background-color: $color-neutral;
  border-color: $color-neutral;
}

.table-view {
  .table-view-cell {
    position: relative;

    .icon-check {
      color: $color-positive;

      &.pull-right {
        position: absolute;
        right: 10px;
      }
    }
  }

  .table-view-divider .icon {
    .icon {
      color: $color-grey-med;
    }
  }
}
