.comp-item-list {
  .item-overlay {
    position: relative;

    .table-view-cell {
      background-color: white;
      z-index: 2;

      & > a:not(.btn):active {
        background-color: transparent;
      }

      .item-note {
        min-height: 1em;
      }

      .item-quantity {
        color: $color-grey-med;
        margin-left: 5px;
      }
    }

    button {
      border: none;
      border-radius: 0;
      bottom: 0;
      color: white;
      font-size: 1.5em;
      margin: 0;
      position: absolute;
      text-align: center;
      top: 0;
      user-select: none;
      width: 100px;
      z-index: 1;

      &.action-complete,
      &.action-incomplete {
        left: 0;
      }

      &.action-remove {
        right: 0;
      }

      &.action-incomplete {
        color: $color-grey-dark;
      }
    }
  }

  [data-completed=true] {
    color: $color-grey-med;
    text-decoration: line-through;
  }
}
