.comp-item-list {
  .item-overlay {
    position: relative;
    max-height: 100px;

    &.anim-slide-left-collapse {
      -webkit-transition: max-height 250ms ease-out 250ms;
      max-height: 0;

      .table-view-cell {
        -webkit-transition: transform 250ms ease-out;
        -webkit-transform: translateX(100%) !important;
      }
    }

    &.reveal-positive .action-complete,
    &.reveal-positive .action-incomplete {
      width: 100%;
      z-index: 2;
    }
    &.reveal-positive .action-remove {
      display: none;
    }

    &.reveal-negative .action-remove {
      width: 100%;
      z-index: 2;
    }
    &.reveal-negative .action-complete,
    &.reveal-negative .action-incomplete {
      display: none;
    }

    .table-view-cell {
      background-color: white;
      z-index: 3;

      & > a:not(.btn):active {
        background-color: transparent;
      }
    }

    button {
      border: none;
      border-radius: 0;
      bottom: 0;
      color: white;
      font-size: 1.5em;
      margin: 0;
      position: absolute;
      top: 0;
      width: 50%;
      z-index: 1;

      .icon {
        width: 20px;
      }

      &.action-complete,
      &.action-incomplete {
        left: 0;
        text-align: left;

        .icon {
          margin-left: 25px;
        }
      }

      &.action-remove {
        right: 0;
        text-align: right;

        .icon {
          margin-right: 25px;
        }
      }

      &.action-incomplete {
        color: $color-grey-dark;
      }
    }
  }

  .table-view-divider {
    padding-right: 11px;

    a.pull-right {
      margin: 0;
      padding: 0;
    }
  }

  .item-note {
    min-height: 1em;
  }

  .item-quantity {
    color: $color-grey-med;
    margin-left: 5px;
  }

  [data-completed=true] {
    color: $color-grey-med;
    text-decoration: line-through;
  }
}

@-webkit-keyframes slide-left {
  from {
    -webkit-transform: translateX(0%);
  }

  to {
    -webkit-transform: translateX(100%);
  }
}

@-webkit-keyframes collapse {
  from {
    max-height: auto;
  }

  to {
    max-height: 0;
  }
}

